<nav class="navbar navbar-expand-sm navbar-light shadow bg-light">
  <div class="container-fluid px-5">
    <a
      routerLink="/dashboard"
      class="text-decoration-none text-dark list-unstyled"
    >
      <span class="text">Miso</span>
      <span class="shaped-container">
        <span class="shaped-text position-relative">
          <span class="ms-1">whey</span>
          <span class="circle position-absolute"></span>
        </span>
      </span>
    </a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <div class="user-data ms-auto">
        rgfgadegtyaer
        <div class="user-image"></div>
        <div class="user-name"></div>
      </div>
    </div>
  </div>
</nav>
