<section id="sign-in" class="m-5 p-5">
  <div class="container">
    <h1 class="d-flex justify-content-center align-items-center mt-5">
      <span class="text">Miso</span>
      <span class="shaped-container">
        <span class="shaped-text"> <span class="ms-2">whey</span></span>
        <span class="circle"></span>
      </span>
    </h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
      <div class="row">
        <div class="col-md-8 m-auto bg-light  rounded-2 shadow p-5 my-3">
          <div class="mb-3">
            <h3 class="email">Email Address</h3>
            <mat-form-field class="w-100">
              <mat-label>Enter your email</mat-label>
              <input
                type="email"
                formControlName="email"
                name="email"
                id="email"
                placeholder="Enter Your Email"
                matInput
                placeholder="pat@example.com"
                [ngClass]="{
                  'is-invalid':
                    loginForm.get('email')?.errors &&
                    loginForm.get('email')?.dirty,
                  'is-valid':!loginForm.get('email')?.errors &&
                    loginForm.get('email')?.dirty,
                }"
              />
            </mat-form-field>
            <div
              *ngIf="
                loginForm.get('email')?.errors &&
                loginForm.get('email')?.touched
              "
              class="email-errors"
            >
              <p
                *ngIf="loginForm.get('email')?.getError('required')"
                class="text-danger"
              >
                this is a required input !
              </p>
              <p
                *ngIf="loginForm.get('email')?.getError('email')"
                class="text-danger"
              >
                Enter a valid Email !
              </p>
            </div>
            <div class="mb-3 mt-2">
              <h3 class="password">Password</h3>
              <mat-form-field class="w-100">
                <mat-label>Enter your password</mat-label>
                <input
                  type="password"
                  formControlName="password"
                  name="password"
                  id="password"
                  [ngClass]="{
                    'is-invalid':
                      loginForm.get('password')?.errors &&
                      loginForm.get('password')?.dirty,
                    'is-valid':!loginForm.get('password')?.errors &&
                      loginForm.get('password')?.dirty,
                  }"
                  matInput
                  [type]="hide ? 'password' : 'text'"
                />
                <button
                  type="button"
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </mat-form-field>
              <div
                *ngIf="
                  loginForm.get('password')?.errors &&
                  loginForm.get('password')?.touched
                "
                class="password-errors"
              >
                <p
                  *ngIf="loginForm.get('password')?.getError('required')"
                  class="text-danger"
                >
                  this is a required input !
                </p>
                <p
                  *ngIf="loginForm.get('password')?.getError('minlength')"
                  class="text-danger"
                >
                  Length is less than 8 characters !">
                </p>
                <p
                  *ngIf="loginForm.get('password')?.getError('maxlength')"
                  class="text-danger"
                >
                  Length is more than 20 characters !">
                </p>
                <p
                  *ngIf="loginForm.get('password')?.getError('pattern')"
                  class="text-danger"
                >
                  Password must be at least 8 characters long and include at
                  least one uppercase letter, one lowercase letter, one digit,
                  and one special character .
                </p>
              </div>
              <p *ngIf="errorMsg" class="text-danger">{{ errorMsg }}</p>
            </div>
            <br />
            <div class="d-flex justify-content-center">
              <button
                [disabled]="loginForm.invalid"
                class="btn login-btn btn-dark"
              >
                Login
                <span *ngIf="isLoading">
                  <i class="fas fa-spinner fa-spin"></i>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
