<app-Navbar></app-Navbar> <!-- Renders the Navbar component -->
<section id="dashboard" class="dashboard min-vh-100">
  <main class="container-fluid">
    <div class="row justify-content-center gx-5">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-2 mt-3 bg-light rounded-2">
        <app-SideNavbar></app-SideNavbar> <!-- Renders the SideNavbar component -->
      </div>
      <div class="col-md-12 col-xxl-9 col-xl-9 col-lg-12 rounded-2 mt-3">
        <div class="row bg-light">
          <div class="col-md-12">
            <h2>Location Map</h2>
            <div id="map">
              <img src="../../assets/map.png" class="w-100" alt="Map" /> <!-- Renders the map image -->
            </div>
          </div>
        </div>
        <div class="row bg-light mt-5">
          <div class="col-md-12">
            <h2>Tracking Map</h2>
            <div id="map">
              <img
                src="../../assets/track.png"
                class="w-100"
                alt="Tracking Map" /> <!-- Renders the tracking map image -->
            </div>
          </div>
        </div>
        <div #Financial class="row bg-light rounded-5 p-3 mt-5">
          <div class="col-md-12">
            <h2>Financial</h2>
            <div id="chart">
              <apx-chart
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [dataLabels]="chartOptions.dataLabels"
                [plotOptions]="chartOptions.plotOptions"
                [yaxis]="chartOptions.yaxis"
                [legend]="chartOptions.legend"
                [fill]="chartOptions.fill"
                [stroke]="chartOptions.stroke"
                [tooltip]="chartOptions.tooltip"
                [xaxis]="chartOptions.xaxis"
              ></apx-chart> <!-- Renders the financial chart using ApexCharts -->
            </div>
          </div>
        </div>
        <div #numOfUsers class="row bg-light rounded-5 p-3 mt-5">
          <div class="col-md-12">
            <h2>Number of Users</h2>
            <div id="area-chart">
              <apx-chart
                [series]="areaChartOptions.series"
                [chart]="areaChartOptions.chart"
                [dataLabels]="areaChartOptions.dataLabels"
                [plotOptions]="areaChartOptions.plotOptions"
                [yaxis]="areaChartOptions.yaxis"
                [legend]="areaChartOptions.legend"
                [fill]="areaChartOptions.fill"
                [stroke]="areaChartOptions.stroke"
                [tooltip]="areaChartOptions.tooltip"
                [xaxis]="areaChartOptions.xaxis"
              ></apx-chart> <!-- Renders the number of users chart using ApexCharts -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</section>
